#content {

    * {
        max-width: 100%;
    }

    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 100%;
    transition: all 0.3s;
    overflow: auto;

    h1{
        padding: 60px 0;
    }

    h2,h3, h4, h5, h6 {
        padding: 40px 0;
    }

    p, li {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        line-height: 1.7em;
        color: #000000;
    }

    p {
        white-space: pre-wrap;
    }

    li {
        padding-bottom: 20px;
    }

    pre {
        display: inline-flex;
        text-align: left;
        overflow: auto;
        width: 70%
    }

    code {
        width: 100%
    }

    .title {
        display: block;
        margin: auto;
        text-align: center;
        font-size: 60px;
    }
    
    .padding-14 {
        padding: 14px;
    }
    
    .center-horizontal {
        display: block;
        margin: auto;
        text-align: center;
    }
    
    .caption {
        margin-bottom: 30px;
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        color: #000000;
    }
}

@media (max-width: 992px) {
    
    #content pre {
        width: 100%
    }
}