html, body {
    height: 100vh;
}

body {
    padding-top: 66px;
}

main {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: stretch;
}

#themeButton {
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 99;
    font-size: 11px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: #00e1ff;
    color: white;
    cursor: pointer;
    padding: 7px;
  }

  #themeButton:active{
    background-color: #008697;
  }