#sidebar {
    z-index: 1;
    min-width: 250px;
    max-width: 250px;
    background: var(--sidebar-background-color);
    color: var(--sidebar-item-color);
    transition: all 0.3s;
    overflow: auto;

    .sidebar-header {
        padding: 20px;
    }

    #page-content > li:first-child {
        padding: 5px;
    }

    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    ul li a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }
    
    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    .primary-a {
        font-size: 1.1em;
    }

    .secondary-a {
        font-size: 0.9em;
    }

    .link {
        background-color: var(--sidebar-link-background-color);
    }

    #sidebar-navlinks a:nth-child(2) {
        padding-left: 10px;
    }

    /*como me borres esto te aniquilo*/
    /*===========================================================*/
    img[name="arrow_menu"] {
        font-size: 1.1em;
        /* y aquí cambias el color de la flechita!!!!!!!! :D */
        background-color: var(--arrow-image-background-color);
        margin: 5px;
        /*aquí si la quuieres mas redonda o mas cuadrada*/
        border-radius: 20px;
        /*aquí el tamaño de la flecha*/
        height: 20px;
        width: 20px;
        transition: transform .35s ease;
    }

    a[aria-expanded="true"] img[name="arrow_menu"]{
        transform:rotate(90deg);
    }
    /*===========================================================*/

    /*=========DIVIDER=========*/
    div[name="divider"]{
        display: block;
        background-color: var(--divider-background-color);
        height: 1px;
        width: 100%;
        margin: 10px 0px;
    }
    /*=========================*/
}

#sidebar.show {
    margin-left: 0px;
}

#sidebar.hide {
    margin-left: -250px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 992px) {
    #sidebar {
        margin-left: -250px;
        min-width: 250px;
        max-width: 250px;
        height: 100%;
        position: fixed;
        left: 0;
    }
    
    #sidebarCollapse span {
        display: none;
    }

    #sidebar-navlinks {
        display: block;
    }
}

@media (min-width: 992px) {
    #sidebar-navlinks {
        display: none;
    }

    #sidebar ul li a:hover {
        color: var(--sidebar-background-color);
        background: var(--sidebar-item-color);
    }
}
