<h1 class="title">Programación orientada a objetos</h1>

<h2>Clase</h2>

<h4>Constructor</h4>

<h2>Métodos</h2>

<h4>Nombre</h4>
<h4>Modificadores de acceso</h4>
modificador de acceso:
TODO: volatile, transient?!?!?
permite convertir a la variable en three save, volatile?!?!?
asignar a los campos de clase el modificador volatil 
cuando dos procesos acceden al mismo recurso

<!-- ************************ -->
Variables volátiles en Java
Las variable volátiles en el lenguaje Java son declaradas anteponiendo el modificador de visibilidad de memoria volatile. Estas no son guardadas en el caché del procesador, es decir, toda lectura/escritura de la misma se realiza directamente contra la memoria principal.

Anteponiendo volatile a la definición de la variable _stop estamos diciendo al compilador que el valor contenido en esa dirección de memoria puede modificarse en cualquier momento, y queremos que dicha modificación sea visible inmediatamente para todos los hilos que están accediendo a ella, no queremos que su valor sea copiado en la caché del procesador.

That’s it! Haciendo nuestras variable volátiles obligamos a los hilos a leerlas de la memoria principal, y no del caché, garantizando que el valor leído siempre es el último valor escrito en ellas.
<!-- ************************ -->

<h4>Tipo de devolución</h4>
<h4>Parámetros</h4>

<h2>Getters Setters</h2>
<h2>toString</h2>