<h1 class="title">Introducción</h1>

<p>
    Maven es una herramienta de software para la gestión y construcción de proyectos Java. Tiene un modelo de configuración de construcción más simple, basado en un formato XML.
    Maven utiliza un Project Object Model (POM) para describir el proyecto de software a construir, sus dependencias de otros módulos y componentes externos, y el orden de construcción de los elementos. Viene con objetivos predefinidos para realizar ciertas tareas claramente definidas, como la compilación del código y su empaquetado.
</p>
<div class="center-horizontal">
    <img src=".\components\maven\introduccion\assets\maven_intro.png">
</div>