<h1 class="title">Introducción</h1>

<p>Java es un lenguaje de programación de alto nivel con tipado fuerte. Es compilado e interpretado en bytecode.</p>

<p>Utiliza la notación Camelcase y es keysensitive(distingue mayúsculas de minúsculas).</p>

<div class="center-horizontal">
    <img src=".\components\java\introduccion\assets\camel-case.png">
</div>
<div class="center-horizontal">
    <img src=".\components\java\introduccion\assets\Conventions.png">
</div><div class="center-horizontal">
    <img src=".\components\java\introduccion\assets\words.png">
</div>
TODO: poner comandos de java y javac etc

TODO: para utilizar treeSet solo se utilizan clases que implementen comparavble


TODO: extends y super en operador diamante???? 
