<h1 class="title">Ciclo de Vida</h1>

<p>El ciclo de vida de Maven es un conjunto de fases predefinidas que se ejecutan en un orden específico para construir y empaquetar un proyecto. El ciclo de vida consta de tres fases principales:</p>
<ul>
    <li>
        La fase de validación, que valida que el proyecto está configurado correctamente y que todas las dependencias están disponibles.
    </li>
    <li>
        La fase de compilación, que compila el código fuente del proyecto y genera los archivos de clase.
    </li>
    <li>
        La fase de empaquetado, que toma los archivos compilados y los empaqueta en un formato distribuible, como un archivo JAR, WAR o ZIP.
    </li>
</ul>
<p>Cada fase está compuesta por una serie de objetivos que se ejecutan en un orden predefinido. Por ejemplo, la fase de compilación puede incluir objetivos para compilar el código fuente, ejecutar pruebas y generar documentación. Los ciclos de vida están diseñados para que los desarrolladores puedan construir, probar y empaquetar sus proyectos de manera estandarizada y reproducible.</p>

<div class="center-horizontal">
    <img src=".\components\maven\lifecycle\assets\mavenLifeCycle_2.png">
</div>