<h1 class="title">Estructura y capas de Spring</h1>

<p>
    Un proyecto de SpringBoot está dividido en 3 capas principales, a saber:
</p>
<ul>
    <li>Capa API</li>
    <li>Capa de servicios</li>
    <li>Capa de acceso a datos</li>
</ul>
<p>
    La <b>capa de API (Application Programming Interface)</b> contiene todo lo relativo a la parte pública. En ella se encuentran las clases de DTO (Data Transfer Object), los controladores, los manejadores de excepciones, filtros, plantillas, etc
</p>
<p>
    La <b>capa de servicios</b> contiene la lógica de negocio, así como toda la infraestructura necesaria para la comunicación de servicios con el resto de capas y con otros servicios ya sean de un mismo microservicio o de distintos.
</p>
<p>
    La <b>capa de acceso a datos</b> contiene lo necesario para obtener y entregar datos persistentes de gestión privada. En esta capa se pueden econtrar los repositorios, las entidades, los modelos, las clases DAO( Data Access Object), etc.
</p>

<img src=".\components\springboot\estructura\assets\dibujo.svg">

<h2>Estructura de archivos</h2>

<p>La documentación oficial de Spring plantea la posibilidad de organizar la estructura de archivos de la siguiente manera:</p>
<p>
com
 +- example
     +- myapplication
         +- MyApplication.java
         |
         +- customer
         |   +- Customer.java
         |   +- CustomerController.java
         |   +- CustomerService.java
         |   +- CustomerRepository.java
         |
         +- order
             +- Order.java
             +- OrderController.java
             +- OrderService.java
             +- OrderRepository.java
</p>
<p>Esta forma es muy similar a como Angular divide sus proyectos en componentes. No obstante según la experiencia de haber trabajado en distintos proyectos así como diversas fuentes no oficiales de origen indio, la forma de estructurar los archivos es agrupando controladores, servicios, entidades, etc en paquetes</p>
<p>
com
 +- example
     +- myapplication
         +- MyApplication.java
         |
         +- Repository
         |   +- CustomerRepository.java
         |   +- FraudRepository.java
         |   +- OrderRepository.java
         |
         +- Controller
         |   +- CustomerController.java
         |   +- FraudController.java
         |   +- OrderController.java
         |
         +- Service
             +- CustomerService.java
             +- FraudService.java
             +- OrderService.java
</p>
<p>En cualquier caso no hay un estandar fijado por spring, por lo que lo ideal es utilizar la manera que mejor se adapte al proyecto a efectos de mantenimiento, escalabilidad, legibilidad, etc</p>

<h2>@SpringBootApplication</h2>
<p>Todo proyecto de SpringBoot tiene una clase principal que contiene un método main el cual se utilizará para arrancar el proyecto. Esta clase se identifica con la anotación <b>@SpringBootApplication</b></p>
<div class="center-horizontal">
    <pre class="language-java">
        <code>
            @SpringBootApplication
            public class MyApplication {
            
                public static void main(String[] args) {
                    SpringApplication.run(MyApplication.class, args);
                }
            
            }
        </code>
    </pre>    
</div>