<h1 class="title">Introducción a Spring Cloud</h1>
TODO
<p>Spring Cloud proporciona herramientas para facilitar el desarrollo de patrones en sistemas distribuidos </p>
<p>Features:</p>
<ul>
    <li>Distributed/versioned configuration</li>
    <li>Registration and discovery</li>
    <li>Routing</li>
    <li>Service-to-service calls</li>
    <li>Load balancing</li>
    <li>Circuit Breakers</li>
    <li>Global locks</li>
    <li>Leadership election and cluster state</li>
    <li>Distributed messaging</li>
</ul>