<h1 class="title">Estructuras de control/flujo</h1>


<h2>Operadores</h2>
TODO: en el examen de certificación no se pondran preguntas con operadores de bits:
~, &lt;&lt;, etc
TODO: poner los operadores a nivel de bits
<!-- ================= -->
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Operadores aritméticos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Simbolo</th>
            <th>Funcionalidad</th>
        </tr>
        <tr>
            <td>+</td>
            <td>Suma dos valores</td>
        </tr>
        <tr>
            <td>-</td>
            <td>Resta dos valores</td>
        </tr>
        <tr>
            <td>*</td>
            <td>Multiplica dos valores</td>
        </tr>
        <tr>
            <td>/</td>
            <td>Division</td>
        </tr>
        <tr>
            <td>%</td>
            <td>Resto</td>
        </tr>
        <tr>
            <td>+=</td>
            <td>Suma y asigna el valor</td>
        </tr>
        <tr>
            <td>-=</td>
            <td>Resta y asigna el valor</td>
        </tr>
        <tr>
            <td>*=</td>
            <td>Multiplica y asigna el valor</td>
        </tr>
        <tr>
            <td>/=</td>
            <td>Divide y asigna el valor</td>
        </tr>
        <tr>
            <td>%=</td>
            <td>realiza el modulo y asigna el valor</td>
        </tr>
    </tbody>
</table>
<!-- ================= -->
<!-- ================= -->
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Operadores Relacionales</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Simbolo</th>
            <th>Funcionalidad</th>
        </tr>
        <tr>
            <td>==</td>
            <td>Comprueba si los datos son iguales</td>
        </tr>
        <tr>
            <td>!=</td>
            <td>comprueba si lod datos son diferentes</td>
        </tr>
        <tr>
            <td>&lt;</td>
            <td>Comprueba que el primer dato sea menor que el segundo</td>
        </tr>
        <tr>
            <td>&gt;</td>
            <td>Comprueba que el primer dato sea mayor que le segundo</td>
        </tr>
        <tr>
            <td>&lt;=</td>
            <td>Comprueba que el primer dato sea menor o igual que el segundo</td>
        </tr>
        <tr>
            <td>&gt;=</td>
            <td>Comprueba que el primer dato sea mayor o igual que el segundo</td>
        </tr>
        <tr>
            <td>!</td>
            <td>Invierte el valor de la expresión</td>
        </tr>
        <tr>
            <td>&</td>
            <td>(AND) Compara dos expresiones y devuelve TRUE si ambas se cumplen</td>
        </tr>
        <tr>
            <td>&&</td>
            <td>Compara dos expresiones y devuelve TRUE si ambas se cumplen. Si la primera condicion es FALSE no se evalua la segunda.</td>
        </tr>
        <tr>
            <td>|</td>
            <td>(OR) Compara dos expresiones y devuelve TRUE si al menos una se cumple</td>
        </tr>
        <tr>
            <td>||</td>
            <td>(OR) Compara dos expresiones y devuelve TRUE si al menos una se cumple. Si la primera condicion es TRUE no se evalua la segunda.</td>
        </tr>
        <tr>
            <td>^</td>
            <td>(XOR) Compara dos expresiones y devuelve TRUE si ambos resultados son distintos.</td>
        </tr>
    </tbody>
</table>
<!-- ================= -->
<!-- ================= -->
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Operadores Unarios</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Simbolo</th>
            <th>Funcionalidad</th>
        </tr>
        <tr>
            <td>++</td>
            <td>Incrementa el valor de una variable</td>
        </tr>
        <tr>
            <td>--</td>
            <td>Decrementa el valor de una variable</td>
        </tr>
    </tbody>
</table>

<p><b>Preincremental y Postdecremental:</b></p>
<div class="center-horizontal">
<pre><code class="language-java">
int a = 0;
int b = a++;
//Se asigna el valor a "b" y luego se incrementa el valor de "a"
//a = 1
//b = 0

int c = 0;
int d = ++c;
//Se incrementa el valor de "c" y luego se asigna el valor a "d"
//c = 1
//d = 1
</code></pre>	
</div>

<h2>IF</h2>

<div class="center-horizontal">
<pre><code class="language-java">
if([condition]){
    //code
}
</code></pre>	
</div>

<h2>IF - ELSE</h2>

<div class="center-horizontal">
<pre><code class="language-java">
if([condition]){
    //code
} else{
    //code
}

if([condition]){
    //code
}else if([condition]){
    //code
}
</code></pre>	
</div>

<p>operador ternario</p>

<div class="center-horizontal">
<pre><code class="language-java">
//Sentencia del operador ternario
//Se pueden anidar operadores ternarios, aunque no es recomendable. 
//[CONDICION] ? [TRUE] : [FALSE]
nombre.equals("Jake") ? i++ : i--  
</code></pre>	
</div>


<h2>WHILE</h2>

<div class="center-horizontal">
<pre><code class="language-java">
while([condition]){
    //code
}
</code></pre>	
</div>

<h2>DO WHILE</h2>

<div class="center-horizontal">
<pre><code class="language-java">
do{
//code
}while([condition])
</code></pre>	
</div>

<h2>FOR</h2>

<div class="center-horizontal">
<pre><code class="language-java">
for(int i = 0; i &lt; list.length(); i++){
    //code
    list[i];
    //code
}
</code></pre>
</div>

<p><b>NOTA:</b> Se utiliza la palabra reservada <em>break</em> para salir de un bucle.</p>

<div class="center-horizontal">
<pre><code class="language-java">
int i = 0;
for (  ; i &lt; 10 ; i&lt;=2 ){
    //code
}
</code></pre>
</div>
<div class="center-horizontal">
<pre><code class="language-java">
int i = 0;
for (  ;  ; i&lt;=2 ){
    if(i == 100) break;
    //code
}
</code></pre>
</div>
<div class="center-horizontal">
<pre><code class="language-java">
int i = 0;
//NO genera error de compilación el tener el bloque de instrucciones vacío.
for (  ;  ;  ){
    if(i == 100) break;
    i+=2;
    //code
}
</code></pre>
</div>

<p><b>break:</b> Permite salir del bucle del cual se le indique con etiquetas. En caso de no indicarse, sale del bucle donde se encuentre contenida dicha palabra reservada.</p>

<div class="center-horizontal">
<pre><code class="language-java">
LoopA:
for(int i=0;i&lt;10;i++){
    LoopB:
    for(int j=0;j&lt;10;j++){
        if([wherever]){
            break LoopA;
        }
    }
}
</code></pre>
</div>

<p><b>continue:</b> Con continue se puede detener la ejecución de la iteración actual y saltar a la siguiente.</p>

<h2>FOREACH</h2>

<div class="center-horizontal">
<pre><code class="language-java">
String[] nombresList = new String[]{"Juan","Juan","Juan"};

for(String nombre : nombresList){
    System.out.println(nombre);
}
</code></pre>	
</div>

<h2>SWITCH</h2>

<p>La expresión a evaluar puede ser de los tipos primitivos: byte, short, int y char; Y sus clases envoltorio. Además de String y clases numeradoras.</p>
<p><b>break:</b> Permite finalizar la ejecución del <em>switch</em>. En caso de no indicar el break se ejecutan el resto de <em>case</em> siguiendo el orden en el que se encuentren.</p>

<div class="center-horizontal">
<pre><code class="language-java">
switch (expression) { 
    case value1:
    // code
    break;

    case value2:
    // code
    break;

    case valueN :
    // code
    break;

    default:
    // Default code
}
</code></pre>	
</div>

TODO: invertir valores del switch

TODO: scanner y bufferreader