<h1 class="title">Estructuras de control/flujo</h1>


<h2>Operadores</h2>
TODO: en el examen de certificación no se pondran preguntas con operadores de bits:
~, &lt;&lt;, etc
TODO:
artimeticos:
<ul>
    +
    -
    *
    /
    %
</ul>
<ul>
    +=
    -=
    *=
    /=
    %=
</ul>
relacionales:
<ul>
    ==
    !=
    &lt;
    &gt;
    &lt;=
    &gt;=
</ul>


<h2>IF</h2>

<div class="center-horizontal">
<pre><code class="language-java">
if([condition]){
    //code
}
</code></pre>	
</div>

<h2>IF - ELSE</h2>

<div class="center-horizontal">
<pre><code class="language-java">
if([condition]){
    //code
} else{
    //code
}

if([condition]){
    //code
}else if([condition]){
    //code
}
</code></pre>	
</div>
TODO: operador ternario

<h2>WHILE</h2>

<div class="center-horizontal">
<pre><code class="language-java">
while([condition]){
    //code
}
</code></pre>	
</div>

<h2>DO WHILE</h2>

<div class="center-horizontal">
<pre><code class="language-java">
do{
//code
}while([condition])
</code></pre>	
</div>

<h2>FOR</h2>
TODO: poner ejemplos de los bloques no obligatorios
TODO: se pueden utilizar etiquetas para identificador bucles.

<div class="center-horizontal">
<pre><code class="language-java">
for(int i = 0; i &lt; list.length(); i++){
    //code
    list[i];
    //code
}
</code></pre>
</div>

<p><b>NOTA:</b> Se utiliza la palabra reservada <em>break</em> para salir de un bucle.</p>

<h2>FOREACH</h2>

<div class="center-horizontal">
<pre><code class="language-java">
String[] nombresList = new String[]{"Juan","Juan","Juan"};

for(String nombre : nombresList){
    System.out.println(nombre);
}
</code></pre>	
</div>

<h2>TODO: switch</h2>