<h1 class="title">DTO - Data Transfer Object</h1>

<p>Para definir un DTO basta con crear un bean (clase básica con atributos, getters y setters), esta clase se utilizará para crear un JSON y enviarlo como respuesta en el controlador o para mapear los datos en el DTO al recibir un JSON en el controlador.</p>
<p>Los atributos del JSON tendrán los mismos nombres que los atributos de la clase de manera predefinida, en caso de que se quiera que los nombres de los atributos del JSON sean distinos a los de la clase, se debe usar la anotación @JsonProperty de la librería Jackson.</p>
<p>Además de la anterior se pueden usar distintas anotaciones que facilitan la creación del DTO:</p>

<h2>Anotaciones de Jackson</h2>

<p>La librería Jackson proporciona anotaciones que permiten modificar características del JSON al que representa la clase.</p>

<ul>
    <li><b>@JsonInclude:</b> Esta anotación pertenece a la librería Jackson y se encuentra dentro del paquete com.fasterxml.jackson.annotation.jsoninclude y sirve para definir que atributos se van a incluir en el JSON final (los que no sean nulos, los que no sean nulos ni sean strings vacios etc.) 
        esto sirve para crear JSON mas pequeños, por ejemplo en caso de que un atributo no tenga ningun valor asignado en vez de aparecer en el JSON sin ningún valor, directamente no aparecerá. 
        Esta anotación se puede aplicar a un solo atributo, método o a toda la clase. Para establecer qué atributos se incluirán en el JSON final se hará de la siguiente manera: @JsonInclude(JsonInclude.Include.NON_EMPTY).
        JsonInclude.Include es un enum que tiene los siguientes valores para incluir los distintos tipos de atributos en el JSON final:

        <ul>
            <li><b>ALWAYS:</b> Siempre incluye el atributo.</li>

            <li><b>NON_NULL:</b> Solo incluye los atributos que no sean nulos.</li>

            <li><b>NON_ABSENT:</b> Solo incluye atributos "no ausentes", que son atributos con valores no nulos y que además en caso de objetos Optional, AtomicReference etc. tengan dentro el objeto que deben tener, por ejemplo en el caso de un Optional
                en el que optional.get() sea null, no lo incluiría.</li>

            <li><b>NON_EMPTY:</b> Solo incluye valores no ausentes y no vacíos, se considera vacío a Collections y Maps cuyo método isEmpty() devulve true y Arrays y Strings cuya longitud sea 0.</li>

            <li><b>NON_DEFAULT:</b> Solo incluye atributos con valores que no sean los valores por defecto, por ejemplo para un atributo global de tipo int el valor por defecto es 0, para un boolean es false etc.</li>

            <li><b>CUSTOM:</b> Tiene un filtro customizado para exclusión especificado por JsonInclude.valueFilter().</li>

            <li><b>USE_DEFAULTS:</b> Sirve para especificar que se debe usar el criterio de nivel superior que esté definido, por ejemplo si se tiene un método getAtributo() y el criterio para ese método es USE_DEFAULTS,
                se mira que criterio se estableció para el atributo, si el atributo por ejemplo tiene un NON_NULL el método usará el criterio NON_NULL, si al atributo no se le ha especificado ningún criterio se mirará el criterio de la clase
                y se aplicará ese, si no tiene ningún criterio definido, se usará el criterio que tenga ObjectMapper (de la librería Jackson) por defecto.</li>
        </ul>
    </li>

    <li><b>@JsonIgnoreProperties:</b> Esta anotación pertenece a la librería Jackson, se encuentra dentro del paquete com.fasterxml.jackson.annotation.JsonIgnoreProperties y sirve para ignorar campos del json, tanto campos que hay en el json y no 
        se quiere que aparezcan en el DTO, como campos del DTO que no se quiere que aparezcan en el JSON. Si por ejemplo hay campos extra en el json que no los hay en el DTO, a la hora de mapear el json al DTO puede dar fallo, la manera de solucionarlo
        es ignorar esos campos extra del json, esto se hace colocando la anotación @JsonIgnoreProperties(ignoreUnknown = true) a nivel de clase.
    </li>

    <li><b>@JsonProperty:</b></li>

    <li><b>@JsonFormat:</b></li>
</ul>

<h2>Anotaciones de Javax Constraints</h2>

<ul>
    <li><b>@NotNull:</b></li>

    <li><b>@NotBlank:</b></li>

    <li><b>@Pattern:</b></li>
</ul>

<h2>Anotaciones de Swagger</h2>

<p>Para la documentación se pueden usar anotaciones de Swagger con la librería Springfox</p>

<ul>
    <li><b>@ApiModel:</b></li>

    <li><b>@ApiModelProperty:</b></li>
</ul>

<h2>Anotaciones de Lombok</h2>

<p>Para hacer mas legible la clase puede utilizar la librería Lombok que proporciona anotaciones para crear constructores, getters y setters entre otras cosas.</p>

<ul>
    <li><b>@Data:</b></li>

    <li><b>@Accessors:</b></li>
</ul>

<h2>PetDTO</h2>

<div class="center-horizontal">
<pre><code class="language-java">
@ApiModel(description = "Pet DTO")
@Data
@Accessors(chain = true)
@JsonInclude(JsonInclude.Include.NON_EMPTY)
@JsonIgnoreProperties(ignoreUnknown = true)
public class PetDTO 
{   
    @ApiModelProperty(notes = "Pet ID", example = "1", required = true)
    @NotNull(message = ConstantMessages.FIELD_MANDATORY)
    @JsonProperty("petId")
    private Integer id;

    @ApiModelProperty(notes = "Pet Name", example = "Joe", required = true)
    @NotBlank(message = ConstantMessages.FIELD_MANDATORY)
    @JsonProperty("petName")
    private String name;
    
    @ApiModelProperty(notes = "Pet age", example = "1", required = true)
    @NotNull(message = ConstantMessages.FIELD_MANDATORY)
    @JsonProperty("age")
    private Short age;

    @ApiModelProperty(notes = "Date of birth", example = "1/2/2021", required = false)
    @JsonFormat(pattern = "dd/MM/yyyy", timezone="Europe/Madrid")
    @JsonProperty("birthDate")
    private Date birthDate;

    @ApiModelProperty(notes = "Picture of the pet in base64", example = "RxxsAre45fdsSef==", required = true)
    @NotNull(message = ConstantMessages.FIELD_MANDATORY)
    @JsonProperty("picture")
    private byte[] picture;

    @ApiModelProperty(notes = "Picture media type", example = "image/jpeg", required = true, allowEmptyValue = false, allowableValues = "image/jpeg, image/jpg, image/gif")
    @NotBlank(message = ConstantMessages.FIELD_MANDATORY)
    @Pattern(regexp = "^(image/jpeg|image/jpg|image/gif)$")
    @JsonProperty("pictureMediaType")
    private String pictureMediaType;
}
</code></pre>	
</div>

<h2>PetPatchDTO</h2>

<div class="center-horizontal">
<pre><code class="language-java">
@ApiModel(description = "Pet DTO for patch method")
@Data
@Accessors(chain = true)
@JsonInclude(JsonInclude.Include.NON_EMPTY)
@JsonIgnoreProperties(ignoreUnknown = true)
public class PetPatchDTO 
{   
    @ApiModelProperty(notes = "Pet Name", example = "Joe", required = true)
    @JsonProperty("name")
    private String name;
    
    @ApiModelProperty(notes = "Pet age", example = "1", required = true)
    @JsonProperty("age")
    private Short age;

    @ApiModelProperty(notes = "Date of birth", example = "1/2/2021", required = false)
    @JsonFormat(pattern = "dd/MM/yyyy", timezone="Europe/Madrid")
    @JsonProperty("birthDate")
    private Date birthDate;

    @ApiModelProperty(notes = "Picture of the pet in base64", example = "RxxsAre45fdsSef==", required = true)
    @JsonProperty("picture")
    private byte[] picture;

    @ApiModelProperty(notes = "Picture media type", example = "image/jpeg", required = true, allowEmptyValue = false, allowableValues = "image/jpeg, image/jpg, image/gif")
    @Pattern(regexp = "^(image/jpeg|image/jpg|image/gif)$")
    @JsonProperty("pictureMediaType")
    private String pictureMediaType;
}
</code></pre>	
</div>