<h1 class="title">DTO - Data Transfer Object</h1>

<p>Para definir un DTO basta con crear un bean (clase básica con atributos, getters y setters), esta clase se utilizará para crear un JSON y enviarlo como respuesta en el controlador o para mapear los datos en el DTO al recibir un JSON en el controlador.</p>
<p>Los atributos del JSON tendrán los mismos nombres que los atributos de la clase de manera predefinida, en caso de que se quiera que los nombres de los atributos del JSON sean distinos a los de la clase, se debe usar la anotación @JsonProperty de la librería Jackson.</p>
<p>Además de la anterior se pueden usar distintas anotaciones que facilitan la creación del DTO:</p>

<h2>Anotaciones de Jackson</h2>

<p>La librería Jackson proporciona anotaciones que permiten modificar características del JSON al que representa la clase.</p>

<ul>
    <li><b>@JsonInclude:</b></li>

    <li><b>@JsonIgnoreProperties:</b></li>

    <li><b>@JsonProperty:</b></li>

    <li><b>@JsonFormat:</b></li>

    <li><b>@JsonProperty:</b></li>
</ul>

<h2>Anotaciones de Javax Constraints</h2>

<h2>Anotaciones de Swagger</h2>

<p>Para la documentación se pueden usar anotaciones de Swagger con la librería Springfox</p>

<h2>Anotaciones de Lombok</h2>

<p>Para hacer mas legible la clase puede utilizar la librería Lombok que proporciona anotaciones para crear constructores, getters y setters entre otras cosas.</p>

<h2>PetDTO</h2>

<div class="center-horizontal">
<pre><code class="language-java">
@ApiModel(description = "Pet DTO")
@Data
@Accessors(chain = true)
@JsonInclude(JsonInclude.Include.NON_EMPTY)
@JsonIgnoreProperties(ignoreUnknown = true)
public class PetDTO 
{   
    @ApiModelProperty(notes = "Pet ID", example = "1", required = true)
    @NotNull(message = ConstantMessages.FIELD_MANDATORY)
    @JsonProperty("petId")
    private Integer id;

    @ApiModelProperty(notes = "Pet Name", example = "Joe", required = true)
    @NotBlank(message = ConstantMessages.FIELD_MANDATORY)
    @JsonProperty("petName")
    private String name;
    
    @ApiModelProperty(notes = "Pet age", example = "1", required = true)
    @NotNull(message = ConstantMessages.FIELD_MANDATORY)
    @JsonProperty("age")
    private Short age;

    @ApiModelProperty(notes = "Date of birth", example = "1/2/2021", required = false)
    @JsonFormat(pattern = "dd/MM/yyyy", timezone="Europe/Madrid")
    @JsonProperty("birthDate")
    private Date birthDate;

    @ApiModelProperty(notes = "Picture of the pet in base64", example = "RxxsAre45fdsSef==", required = true)
    @NotNull(message = ConstantMessages.FIELD_MANDATORY)
    @JsonProperty("picture")
    private byte[] picture;

    @ApiModelProperty(notes = "Picture media type", example = "image/jpeg", required = true, allowEmptyValue = false, allowableValues = "image/jpeg, image/jpg, image/gif")
    @NotBlank(message = ConstantMessages.FIELD_MANDATORY)
    @Pattern(regexp = "^(image/jpeg|image/jpg|image/gif)$")
    @JsonProperty("pictureMediaType")
    private String pictureMediaType;
}
</code></pre>	
</div>

<h2>PetPatchDTO</h2>

<div class="center-horizontal">
<pre><code class="language-java">
@ApiModel(description = "Pet DTO for patch method")
@Data
@Accessors(chain = true)
@JsonInclude(JsonInclude.Include.NON_EMPTY)
@JsonIgnoreProperties(ignoreUnknown = true)
public class PetPatchDTO 
{   
    @ApiModelProperty(notes = "Pet Name", example = "Joe", required = true)
    @JsonProperty("name")
    private String name;
    
    @ApiModelProperty(notes = "Pet age", example = "1", required = true)
    @JsonProperty("age")
    private Short age;

    @ApiModelProperty(notes = "Date of birth", example = "1/2/2021", required = false)
    @JsonFormat(pattern = "dd/MM/yyyy", timezone="Europe/Madrid")
    @JsonProperty("birthDate")
    private Date birthDate;

    @ApiModelProperty(notes = "Picture of the pet in base64", example = "RxxsAre45fdsSef==", required = true)
    @JsonProperty("picture")
    private byte[] picture;

    @ApiModelProperty(notes = "Picture media type", example = "image/jpeg", required = true, allowEmptyValue = false, allowableValues = "image/jpeg, image/jpg, image/gif")
    @Pattern(regexp = "^(image/jpeg|image/jpg|image/gif)$")
    @JsonProperty("pictureMediaType")
    private String pictureMediaType;
}
</code></pre>	
</div>