<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
                
        <div class="brand-container">
            <button type="button" id="sidebarCollapse" class="btn" onclick="toggleSidebar()">
                <i class="bi bi-list"></i>
            </button>
            
            <img id="logo" height="40px">
            
            <a id="nav-topic" class="navbar-brand" href="#" onclick="changeView('mainView')"></a>
        </div>
        
        <div id="navbarNavAltMarkup" class="collapse navbar-collapse">
            <div id="navbar-navlinks" class="navbar-nav">
            </div>
        </div>
    </div>
</nav>