<h1 class="title">Introducción</h1>

<p>Spring Boot makes it easy to create stand-alone, production-grade Spring based Applications that you can "just run".</p>

<h2>La Anotacion @Component</h2>
<p>
    El contenedor de Spring autodetecta las clases con la anotación <b>@Component</b>, lo que permite usar dichas clases como dependencias y así poder inyectarlas donde se necesiten.
    Tiene las mismas funcionalidades que las etiquetas <b>@Service</b>, <b>@Controller</b> y <b>@Repository</b>.
</p>

<h2>Configuración en Spring</h2>
<p><b>@Configuration</b> es la anotación encargada de definir una clase de configuración para el framework.</p>
<p><b>@Bean</b> es la anotación que marca como bean cada uno de los métodos de tal forma que esten disponibles para Spring.</p>

TODO: meter excepciones
TODO: meter también test!!!!!!!!!!!!!
TODO: lo de configuracion hay que meterlo junto a test y excepciones
TODO: meter lo de YML
TODO: eureka server

