<h1 class="title">Programación funcional</h1>

<h2>Interfaces funcionales</h2>

<p>Para que una interfaz sea funcional tiene UN único método abstracto</p>

<div class="center-horizontal">
<pre><code class="language-java">
    list.length  //Aquí es un atributo de un objeto
    list.length()//Aquí se llama a un método que devuelve la longitud
</code></pre>
</div>

<h2>Streams</h2>

<h2>Lambdas</h2>

<div class="center-horizontal">
<pre><code class="language-java">

public static void


(String m) -&gt; {
    //Code here
}
        


</code></pre>
</div>

<p><b>NOTA:</b> A partir de dos o mas parámetros es necesario poner prentesis a los parámetros o si el único parámetro tiene especificado su tipo.</p>